<div class="bg"></div>
<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-img slot="start" src="assets/sgs-new-logo-dark.png" class="logo"></ion-img>
    <ion-buttons slot="end">
      <ion-button class="lang">EN</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-text>
    <h1 style="font-weight: bold;color: #a17b52;margin: 20px 0 0;" i18n>أهداف الهيئة</h1>
  </ion-text>
  <ion-breadcrumbs class="ion-no-padding">
    <ion-breadcrumb routerLink="/tabs/tab1" style="font-size: 14px;color: #402202;" i18n>الرئيسية</ion-breadcrumb>
    <ion-breadcrumb href="#" style="font-size: 14px;color: #402202;" i18n>أهداف الهيئة</ion-breadcrumb>
  </ion-breadcrumbs>
  <ion-text>
    <div class="text-editor page-editor  " style="color:#160000;">

<p i18n>تحقيقا للرؤى والتطلعات الاستراتيجية التي أُنشئت الهيئة من أجلها، وتحقيقا لرسالتها بصورة رئيسة لتزويد المجتمع بالمعلومات الجيولوجية الأساسية، فقد بلورت الهيئة أهدافها الرئيسة (Principle Goals) علي النحو التالي:</p>
<h4 i18n>تزويد المجتمع بالمعلومات والخرائط الجيولوجية الأساسية</h4>
<p><span style="color: #402202;" i18n>يتحقق هذا الهدف بإثراء وتحديث قواعد معلومات علوم الأرض من نتائج أعمال المسح الجيولوجي المستدام والمستمر لتغطية كافة أراضي المملكة بخرائط جيولوجية ذات مقاييس رسم مختلفة. وتُعتبر خرائط الأساس الطبوغرافية والجغرافية، والصور الجوية، وصور الأقمار الاصطناعية ركائز أساسية لأعمال المسح الجيولوجي، وإعداد الخرائط الجيولوجية التي تخدم وتدعم أعمال التنقيب عن الموارد المعدنية وأعمال الجيولوجيا التطبيقية لتحقيق أهداف الهيئة الأخرى</span></p>
<h5 i18n>الأهداف المرحلية</h5>
<ul>
<li i18n>&nbsp;تنفيذ الخرائط الجيولوجية، وإعداد التقارير الجيولوجية لمناطق المسح الجيولوجي حسب مقاييس الرسم المناسبة للمشاريع المختلفة وطبقاً للمقاييس والمعايير العالمية.</li>
<li i18n>القيام بأعمال المسح الأرضي، والأعمال الجيوديسية لخدمة أعمال المسح الجيولوجي، والتنقيب عن الموارد المعدنية.</li>
<li i18n>تلبية احتياجات مختلف شرائح المجتمع من الخرائط الجيولوجية والخرائط الأخرى بمختلف مقاييس الرسم.</li>
<li>القيام بأعمال المسح الجيولوجي البحري.</li>
<li>تطوير وإثراء قواعد البيانات الجيولوجية الرقمية كنتاج لأعمال المسح الجيولوجي.</li>
<li>توفير المعلومات الجيولوجية الرقمية للمجتمع وتسهيل الحصول عليها في صورة يمكن التعامل معها.</li>
</ul>
<h5>يتم تحقيق هذا الهدف عبر مجموعة من السياسات، هي</h5>
<ol>
<li>استكمال إنتاج الخرائط الجيولوجية الأساسية لكافة أراضي المملكة بمقياس رسم 1 : 100,000</li>
<li>الإستمرار في إنتاج الخرائط الجيولوجية التجميعية بمقاييس رسم 1: 250.000 و 1 : 500,000 التي تغطي كافة أراضي المملكة، والعمل على تطويرها وتحديثها كلما دعت الحاجة إلى ذلك.</li>
<li>&nbsp;إستمرار إنتاج وتحديث الخرائط الجيولوجية للرواسب المعدنية في المملكة بمقاييس رسم مختلفة.</li>
<li>استكمال بناء قواعد المعلومات الرقمية الأساسية والعمل على تطويرها.</li>
<li>إجراء أعمال المسح الجيوكيميائي والجيوفيزيائي لدعم أعمال المسح الجيولوجي والتنقيب عن المعادن.</li>
<li>استخدام تقنيات أنظمة المعلومات الجغرافية لإنتاج الخرائط الرقمية ولأعمال التحويل الرقمي للخرائط القديمة.</li>
<li>الإستعانة بمعلومات الشبكة الجيوديسية الوطنية في أعمال المسوحات الجيولوجية وتنفيذ الخرائط الجيولوجية المختلفة.</li>
<li>استخدام التقنيات الحديثة للتصوير الجوي الرقمي، وصور الأقمار الاصطناعية ذات التباين عالي الدقة في أعمال المسح الجيولوجي وإعداد الخرائط.</li>
<li>استخدام التقنيات الجيوديسية وأنظمة تحديد المواقع العالمية GPS في مجال أعمال المسح الجيولوجي.</li>
<li>حفظ وتبويب أصول الخرائط، وأصول الصور الجوية، ونتائج الأعمال المساحية.</li>
<li>التواصل مع الهيئات العالمية لتسهيل حصول الهيئة على التقنيات والتطبيقات الحديثة في مجالات برامج المسح الجيولوجي وإنتاج الخرائط.&nbsp;</li>
</ol>
<h4>تأمين احتياطيات إستراتيجية مستدامة من الموارد المعدنية</h4>
<p><span style="color: #402202;">يتحقق هذا الهدف بالاستكشاف المستمر عن الموارد المعدنية بشقيها الفلزي واللافلزي، والاستغلال الأمثل لهما لتنويع مصادر الدخل القومي.</span></p>
<h5>الأهداف المرحلية</h5>
<ul>
<li>تجميع المعلومات الضرورية لتحديد وحصر التواجدات المعدنية.</li>
<li>البحث والتنقيب عن الموارد المعدنية باستخدام أحدث التقنيات العلمية، والعمل على تقويمها وتنميتها، وإقتراح الطرق المُثلى لاستغلالها.</li>
<li>القيام بأعمال المسح الإقليمي للمناطق والأحزمة المتمعدنة لتحديد المناطق ذات النتائج الإيجابية.</li>
<li>القيام بأعمال التنقيب التفصيلي لتحديد المواقع المتمعدنة الواعدة.</li>
<li>تقويم الخامات المعدنية الواعدة.</li>
<li>البحث عن مصادر المياه في المناطق المحتملة ومواقع المناجم والنشاطات التعدينية.</li>
<li>التعرف على الموارد المعدنية على طول السواحل في الجزر وفي قيعان البحار.</li>
</ul>
<h5>يتم تحقيق هذا الهدف عبر مجموعة من السياسات، هي:</h5>
<ol>
<li>وجيه أعمال الاستكشاف العام، والتنقيب الإقليمي إلى اكتشاف مناطق جديدة للرواسب المعدنية وتحديد المناطق المحتملة لمصادر المياه.</li>
<li>تركيز الأولوية لأعمال الكشف والتثقيب على المعادن ذات الأهمية الاقتصادية والاستراتيجية للدولة.</li>
<li>تحديد وتوثيق التواجدات المعدنية، والمائية المتوفرة في المملكة.</li>
<li>تحديد الأسس والمعايير للخامات، تلبيةً للاحتياجات الأساسية لقطاع التعدين في الدولة.</li>
<li>الإعلان عن المواقع المعدنية الواعدة وإتاحتها كفرص استثمار للجهات المعنية لتقوم بطرحها للاستثمار العام.</li>
<li>الاستعانة بالتقنيات الجيوفيزيائية والطرق الجيوكيميائية لتحديد احتمالات التمعدن للمناطق غير المنكشفة المغطاة بصخور حقب الحياة الظاهرة.</li>
<li>متابعة النظريات والتقنيات الحديثة في مجال التنقيب عن الموارد المعدنية.</li>
<li>إتباع الأساليب الحديثة في مجال التطبيقات الصناعية والمعالجة المثلى للخامات المعدنية.</li>
</ol>
<h4>رصد ومراقبة ودراسة المخاطر الجيولوجية، والمساهمة في الحد من آثارها</h4>
<p><span style="color: #402202;">تُعتبر المخاطر الجيولوجية الناجمة عن العمليات الطبيعية من الأحداث التي تعرض المجتمعات لأخطار الخسائر البشرية والمادية والتي منها الحركات الأرضية، والنشاطات البركانية، والانخسافات، والانهيارات الأرضية، والانزلاقات الأرضية، والفيضانات، ومشاكل الزحف الرملي، وانبعاث الغازات، ومخاطر الإشعاعات الضارة.</span></p>
<h5>الأهداف المرحلية</h5>
<ul>
<li>الرصد والمراقبة المستمرة للمخاطر الطبيعية.</li>
<li>تفهم أسباب حدوث المخاطر الجيولوجية، والآثار المترتبة عنها.</li>
<li>الاستجابة السريعة للمخاطر الجيولوجية ورفع التوصيات للجهات ذات العلاقة للتعامل معها.</li>
<li>التركيز على مراقبه النشاط البركاني، والحركات الأرضية (الزلزالية) في المناطق الأكثر تعرضاً لهما.</li>
<li>توعية كافة شرائح المجتمع عن المخاطر الجيولوجية المحتملة وكيفية التعامل معها.</li>
<li>التعرف على العلاقات المتداخلة للعمليات الجيولوجية المسببة للمخاطر الطبيعية، وذلك بإرساء دراسات جيولوجية متخصصة لتحليلها وتفسيرها.</li>
</ul>
<h5>يتم تحقيق هذا الهدف عبر مجموعة من السياسات&nbsp;</h5>
<ol>
<li>إنشاء شبكات الرصد للمخاطر الجيولوجية المحتملة.</li>
<li>التطوير المستمر لتقنيات الرصد والمراقبة.</li>
<li>ربط معلومات الرصد والمراقبة بقواعد المعلومات الأخرى.</li>
<li>تحليل ومضاهاة نتائج الرصد الزلزالي المحلية ومثيلاتها من محطات الرصد العالمية.</li>
<li>إعداد النشرات والإرشادات التوعوية عن المخاطر الجيولوجية لتوعية كافة شرائح المجتمع عن كيفية الحد من آثارها والتخفيف من أضرارها.</li>
<li>تدريب الكوادر الوطنية وتطويرها للقيام باستخدام كل ما يستجد من تقنيات في مجالات الرصد والمراقبة والتحليل.</li>
<li>تجهيز ونشر المعلومات المستقاه من أعمال الرصد والمراقبة على هيئة تقارير وخرائط.</li>
</ol>
<h4>دراسة المشاكل البيئية المرتبطة بالمخاطر الجيولوجية، والأخرى الناجمة عن التوسع الحضري</h4>
<p><span style="color: #402202;">إن المشاكل البيئية المصاحبة للمشاريع التنموية تحتاج إلى حلول تعتمد بصورة مباشرة على العلوم والمعرفة الجيولوجية. ومن هنا أخذت الاستراتيجية في اعتبارها الاهتمام بتلك المشاكل ورسم السياسات العلمية للتغلب عليها. إن التوسع الحضري والتكنولوجي المحموم المصاحب لنشاطات الإنسان يؤدي إلى إحداث خلل في الأنظمة البيئية المُشكلة للأرض، والتي تؤدي في نهاية المطاف إلى تهديد حياة الإنسان وممتلكاته. والتقليل من هذه المخاطر لا بد من فهم الكيفية التي تعمل بها الأنظمة المكونة للأرض وآثار التوسع الصناعي، والزراعي، والاجتماعي، والتكنولوجي في خلخلة الإتزان الطبيعي لتلك الأنظمة.</span></p>
<h5>الأهداف المرحلية</h5>
<ul>
<li>فهم مصادر ومسارات مشاكل التلوث التي تهدد البيئة.</li>
<li>المُساهمة في الحد أو السيطرة من خطورة مشاكل البيئة على الإنسان.</li>
<li>تقييم آثار عمليات التعدين المختلفة على التلوث البيئي.</li>
<li>تفهم أسباب التغيرات البيئية القديمة.</li>
<li>العمل على تنمية وإدارة الموارد المعدنية.</li>
<li>التقليل من الآثار الضّارة الناجمة عن رمي النفايات.</li>
<li>زيادة وعي المجتمع بأهمية علوم الأرض في تطوير وسائل ناجحة لحماية البيئة.</li>
</ul>
<h5>يتم تحقيق هذا الهدف عبر مجموعة من السياسات&nbsp;</h5>
<ol>
<li>دراسة وتحليل الظروف المناخية والجيولوجية للماضي والحاضر ومعرفة آثارها على النظام البيئي.</li>
<li>دراسة آثار التلوث وتدهور الأنظمة البيئية على التنوع البيولوجي.</li>
<li>تعليل أسباب انقراض أنواع من الأحياء والنباتات في بعض العصور الجيولوجية.</li>
<li>دراسة العوامل الجيولوجية المؤثرة على المشاكل البيئية.</li>
<li>دراسة تأثير المشاكل البيئية على حياة الإنسان والهيكل المائي والبيئة البحرية.</li>
<li>استخدام المعلومات الجيولوجية لاختيار أنسب المواقع للتخلص من النفايات.</li>
<li>توثيق المعلومات الجيولوجية المختصة بالموارد الأرضية (ماء، تربة، صخور، معادن)</li>
<li>دراسة العوامل التي تتحكم في اتزان معدلات التغذية للموارد المعدنية.</li>
</ol>
<h4>دعم المشاريع الإنشائية والحضرية بدراسات الجيولوجيا الهندسية</h4>
<p><span style="color: #402202;">تُعتبر دراسات الجيولوجيا الهندسية ذات منفعة كبرى للمشاريع الإنشائية والحضرية وتسهم في التعرف على حالة الإستقرار بين المواقع والمنشآت المشيدة فيها، وذلك من خلال التعرف على المعلومات الجيولوجية الهندسية للبنية الأرضية لهذه المواقع.</span></p>
<h5>الأهداف المرحلية</h5>
<ul>
<li>اختيار أنسب المواقع للمشاريع الإنشائية، والإنمائية، والتعدينية.</li>
<li>المساهمة في مراحل التخطيط لمشاريع البناء والإعمال.</li>
<li>تحديد وتقييم الخصائص الهندسية لمواد وأحجار البناء.</li>
<li>المساهمة في وضع واعتماد معايير الجيولوجيا الهندسية، وأنظمتها في المملكة.</li>
<li>التعرف على المشاكل المصاحبة لمشاريع الأعمار في مراحلها المختلفة، ووضع الحلول المناسبة للتغلب عليها.</li>
<li>توفير قواعد البيانات الخاصة بالجيولوجيا الهندسية والعمل على تحديثها.</li>
<li>المحافظة على سلامة البنية الأرضية حول المشاريع الإنشائية.</li>
</ul>
<h5>يتم تحقيق هذا الهدف عبر مجموعة من السياسات&nbsp;</h5>
<ol>
<li>إجراء دراسات الجيولوجيا الهندسية في المجالات الاستشارية للمشاريع والمواقع الإنشائية.</li>
<li>دراسة الخواص الفيزيائية، والميكانيكية لمواد وأحجار البناء.</li>
<li>الاستعانة بتقنيات الاستشعار عن بعد وأنظمة المعلومات الجغرافية في إعداد دراسات وخرائط الجيولوجيا الهندسية.</li>
<li>إعداد الخرائط الجيولوجية الهندسية للمدن الرئيسة ومواقع المشاريع الكبرى وما حولها.</li>
<li>الاستعانة بمعلومات المخاطر الجيولوجية والبيئية في المشاريع الإنشائية.</li>
</ol>
<h4>بناء وتطوير قواعد المعلومات الوطنية لعلوم الأرض</h4>
<p><span style="color: #402202;">إن قواعد معلومات علوم الأرض هي قواعد معلومات مرتبطة فيما بينها لتُألف منظومة لقاعدة معلومات أساسية يتشكل بنيانها وتستقي معلوماتها من مختلف البرامج والمشاريع الفنية للهيئة. ويؤدي هذا الهدف إلى إيجاد قاعدة معلومات وطنية يُعتد بها لغرض تزويد المجتمع بالمعلومات الجيولوجية الموثقة لخدمة المشاريع الإنمائية ولإعداد البحوث العلمية والدراسات المختلفة</span></p>
<h5>الأهداف المرحلية:</h5>
<ul>
<li>بناء قاعدة معلومات الخرائط الجيولوجية وتطويرها.</li>
<li>بناء قاعدة معلومات مواقع التمعدن وتطويرها.</li>
<li>بناء قاعدة معلومات الموارد المائية وتطويرها.</li>
<li>بناء قاعدة معلومات المسوحات الجيوفيزيائية وتطويرها.</li>
<li>بناء قاعدة معلومات التحاليل الكيميائية وتطويرها.</li>
<li>بناء قاعدة معلومات الحفر والآبار وتطويرها.</li>
<li>بناء قاعدة معلومات المناخ وتطويرها.</li>
<li>بناء قاعدة معلومات الجيولوجيا البيئية وتطويرها.</li>
<li>بناء قاعدة معلومات الجيولوجيا الهندسية وتطويرها.</li>
<li>بناء قاعدة معلومات التعدين وتطويرها.</li>
<li>بناء قاعدة معلومات الاستشعار عن بعد وتطويرها.</li>
<li>&nbsp;بناء قاعدة معلومات الصور الجوية وتطويرها.</li>
<li>بناء قاعدة معلومات التقارير الفنية وتطويرها.</li>
<li>بناء قاعدة معلومات المخاطر الجيولوجية وتطويرها.</li>
<li>استرجاع المعلومات الجيولوجية المختلفة وتوثيقها.</li>
</ul>
<h5>يتم تحقيق هذا الهدف عبر مجموعة من السياسات :</h5>
<ol>
<li>تصميم وحدات الإدخال والإخراج بالبناء النمطي لمجالات قواعد المعلومات وتعيين الخصائص العامة لها لربطها بأنظمة المعلومات الجغرافية للمساعدة في إنتاج الخرائط بمختلف أنواعها.</li>
<li>تحديث قواعد المعلومات وتطويرها من قبل الإدارات والأقسام المعنية بالهيئة.</li>
<li>استرجاع المعلومات الجيولوجية، وتوثيقها بجمع التقارير، والخرائط وصور "الموزاييك"، والإحداثيات، والترقيم النقطي من مصادرها الأصلية.</li>
</ol>
<h4>دعم وتقديم المشورة ذات الصلة بعلوم الأرض للجهات الحكومية والخاصة</h4>
<p><span style="color: #402202;">يُؤدي تحقيق هذا الهدف إلى تنمية التعاون الفني والعلمي مع الجهات الحكومية والخاصة، التي قد تحتاج للمشورة والمعلومات المتعلقة بأعمالها، وتشجيع إعداد البحوث المتخصصة في مجال الجيولوجيا كأساس هام للتعاون بين الهيئة والجهات الأكاديمية ذات العلاقة باعتبارها تعمل على توفير قاعدة من المعلومات الموثّقة التي تهدف بالدرجة الأولى إلى تحديث وإثراء معلومات شريحة واسعة من المهتمين بعلوم الأرض.</span></p>
<h5>الأهداف المرحلية:</h5>
<ul>
<li>تقديم الخدمات الاستشارية للجهات الحكومية والخاصة في مجال أعمال الهيئة.</li>
<li>تزويد الجهات الحكومية، والجامعات، ومعاهد البحوث بالمعلومات الجيولوجية الأساسية، والتطبيقية.</li>
<li>المساهمة في مشاريع تنموية مع الجهات الحكومية والخاصة في مجالات أعمال الهيئة.</li>
<li>تشجيع البحث العلمي بإرساء مشاريع مشتركة مع الجامعات ومعاهد البحوث في المملكة.</li>
</ul>
<h5>يتم تحقيق هذا الهدف عبر مجموعة من السياسات :</h5>
<ol>
<li>تطوير العلاقات العامة مع الجهات الحكومية وتنسيقها للتعريف بأهداف الهيئة ومهامها وسياساتها.</li>
<li>توفير قنوات الاتصالات مع الجهات العلمية لتوفير المعلومات والاستشارات للإدارة العليا.</li>
<li>بناء العلاقات مع الجهات ذات العلاقة من خلال الاتصال المباشر والقنوات الإعلامية، والإعلانية.</li>
<li>وضع المعايير والضوابط لإعداد ونشر الدراسات والأبحاث التي تجريها الهيئة.</li>
</ol>
<p>&nbsp;</p>

                                                  </div>
  </ion-text>
</ion-content>
<ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="back()">
  <ion-fab-button title="تراجع">
    <ion-icon name="caret-back-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
