<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <!-- <ion-icon aria-hidden="true" name="triangle"></ion-icon> -->
       <div>
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>الرئيسية</ion-label>
       </div>

    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <div>
        <ion-icon name="grid-outline"></ion-icon>
        <ion-label>الخدمات</ion-label>
      </div>


    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>
