<div class="bg"></div>
  <ion-header [translucent]="false">
    <ion-toolbar>
      <ion-img slot="start" src="assets/SGSNEWLOGOdark.svg" class="logo"></ion-img>
      <ion-buttons slot="end">
        <ion-button (click)="changeLang()">{{lang}}</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-text>
      <h1 style="font-weight: bold;color: var(--main-color);margin: 20px 0;">{{title}}</h1>
    </ion-text>
    <ion-row>
      <ion-col size="6" *ngFor="let service of services">
        <a href="{{service.url}}" target="_blank">
          <ion-card class="ion-text-center">
            <ion-card-header class="ion-align-items-center">
              <div class="card-icon-bg">
                <ion-img src="{{service.img}}" class="img-filter"></ion-img>
              </div>
            </ion-card-header>

            <ion-card-content>
              <ion-text>
                <p style="font-size: 16px;font-weight: bold;color: var(--main-color);">{{service.headerTitle}}</p>
              </ion-text>
            </ion-card-content>
          </ion-card>
        </a>

      </ion-col>

    </ion-row>




  </ion-content>

