<div class="bg"></div>
<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-img slot="start" src="/assets/sgs-new-logo-dark.png" class="logo"></ion-img>
    <ion-buttons slot="end">
      <ion-button class="lang">EN</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-text>
    <h1 style="font-weight: bold;color: #a17b52;margin: 20px 0 0;">رؤية الهيئة</h1>
  </ion-text>
  <ion-breadcrumbs class="ion-no-padding">
    <ion-breadcrumb href="/tabs/tab1" style="font-size: 14px;color: #402202;">الرئيسية</ion-breadcrumb>
    <ion-breadcrumb href="#" style="font-size: 14px;color: #402202;">رؤية الهيئة</ion-breadcrumb>
  </ion-breadcrumbs>
  <ion-item class="ion-no-padding">
    <ion-text>
      <p>أُنشئت هيئة المساحة الجيولوجية السعودية في عام 1420ه‍ 1999م، بقرار رقم 115 والصادر عن مجلس الوزراء الموقر. وترتبط هيئة المساحة الجيولوجية السعودية إرتباطاً مباشراً بوزارة الصناعة والثروة المعدنية. ولها شخصية اعتبارية وتتمتع بالأهلية الكاملة لتحقيق التنظيم الخاص به</p>
    </ion-text>
  </ion-item>
  <ion-buttons slot="end">
    <ion-back-button icon="caret-back" 	color="#BF986E"></ion-back-button>
  </ion-buttons>
</ion-content>
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-back-button icon="caret-back" 	color="#BF986E"></ion-back-button>
  </ion-fab-button>
</ion-fab>
<!-- <ion-buttons slot="end">
  <ion-back-button icon="caret-back" 	color="#BF986E"></ion-back-button>
</ion-buttons> -->
